@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

.nav {
	display: flex;
	height: 7rem;
	justify-content: space-between;
	align-items: center;
	background-color: #393e46;
	border-radius: 1rem;
	margin: 2rem 0.5rem;
	margin-bottom: 0;
}

.hamburger-menu {
	display: none;
}

.home-btn,
.search-bar {
	margin: 0 3rem;
}

.home-btn a {
	font-size: 3rem;
	color: #f98697;
	text-decoration: none;
	font-family: "Kalam", cursive;
}

.nav input[type="search"] {
	border-radius: 1.5rem;
	height: 3rem;
	width: 20rem;
	border: none;
	padding: 0 1.5rem;
	font-size: 1rem;
	font-family: "Raleway", sans-serif;
}

.nav input[type="search"]:focus {
	outline: none;
}

.nav .search-bar {
	position: relative;
}

.nav .search-icon {
	position: absolute;
	font-size: 1.75rem;
	right: 1rem;
	top: 0.6rem;
}

@media screen and (max-width: 600px) {
	.nav {
		height: 4rem;
		margin: 1rem 0;
	}

	.hamburger-menu {
		display: inherit;
		color: white;
		font-size: 1.2rem;
		flex-grow: 1;
	}

	.home-btn,
	.search-bar {
		margin: 0 1rem;
		flex-grow: 2;
	}

	.home-btn a {
		font-size: 2rem;
	}

	.nav input[type="search"] {
		display: none;
	}

	.nav .search-icon {
		position: absolute;
		font-size: 1.75rem;
		color: white;
		right: 0.5rem;
		top: -0.85rem;
		flex-grow: 3;
	}
}
